body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin-bottom: 100px;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

img {
  max-width: 100%;
  display: block;
}

/*Menu do Site*/

.header {
  background: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 15px;
}

.menu {
  display: flex;
}

.menu > li {
  margin-left: 10px;
}

.menu > li > a {
  display: block;
  padding: 10px;
}

/* Layout com Flexbox */

.flexbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flexbox > div {
  flex: 1 1 200px;
  margin: 10px;
}

/* Layout Grid - Tipo 1 */

.grid-tipo-1 {
  display: grid;
  /*Configura a quantidade de colunas, tendo esses dois meios para fazer isso.
  grid-template-columns: 1fr, 1fr, 1fr;*/
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 20px;
}

/*Alterando as colunas do Grid, a partir do 4 item (filho).*/
.grid-tipo-1 > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

/*Alterando a quantidade de linhas que terá o item propaganda, dizendo que ele vai ter da segunda linha a quinta linha.*/
.grid-tipo-1 > div.propaganda {
  grid-column: 1;
  grid-row: 2 / 5;
  border: 10px solid green;
  display: block;
}

/*Utilizando do @media, para alterar as configurações do layout, quando reduzir para o tamanho disponivel na tela.*/
@media (max-width: 600px) {
  /*Alterando o Layout de três colunas, para somente duas colunas*/
  .grid-tipo-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  /*Alterando as configurações a partir do quarto item par ao normal.*/
  .grid-tipo-1 > div:nth-child(n + 4) {
    display: block;
  }
  /*Colocando a propaganda em primeiro da lista a ser mostrada, alterando somente o visual apresentado.*/
  .grid-tipo-1 > div.propaganda {
    grid-column: auto;
    grid-row: auto;
    order: -1;
  }
}

/* Layout Grid - Tipo 2 */

.grid-tipo-2 {
  display: grid;
  /*Uma coluna (fragmento) que aumenta e diminui de tamanho, e especifica o tamanho da barra lateral*/
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
}

/*Sepearando os elementos da barra lateral.*/
.sidebar > div {
  margin-bottom: 10px;
}

/*Utilizando do @media, para alterar as configurações do layout, quando reduzir para o tamanho disponivel na tela.*/
@media (max-width: 600px) {
  /*Altera o formato do layout, deixando somente uma coluna (fragmento).*/
  .grid-tipo-2 {
    grid-template-columns: 1fr;
  }
  /*Altera a barra lateral, para o display flex (mostrando um item do lado do outro), e insere o scroll para navegar entre eles*/
  .sidebar {
    display: flex;
    overflow: scroll;
  }
  /*Especifica o tamanho de cada item do Scroll, dizendo que não é para reduzir de tamanho e inserindo um espaçamento entre os elementos.*/
  .sidebar > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}

/* Layout Grid - Tipo 3 */

/*Configura o terceiro grid, para que o mesmo tenha duas colunas.*/
.grid-tipo-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

/*Configura para que o primeiro item, tenha o tamanho das 3 linhas*/
.item:nth-child(1) {
  grid-row: 1 / 3;
  border: 10px solid green;
}

.item {
  display: grid;
}

/*Altera a imagem, de modo que tenha uma coluna e ocupe as três linhas, estando alinhada no final da ultima linha.*/
.item > img {
  grid-column: 1;
  grid-row: 1/3;
  align-self: end;
}

/*Altera as legendas abaixo das imagens, colocando um fundo transparente, o layout de somente uma coluna, 
    posicionando o texto na segunda linha, estando alinhada no final da ultima linha.*/
.item > p {
  /*Imagem de fundo transparente*/
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: white;
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}